fastapi==0.115.0
uvicorn==0.30.6
sqlalchemy==2.0.36
pydantic==2.9.2
requests==2.32.3
bcrypt==4.2.1
PyJWT==2.9.0
pyyaml==6.0.2
cryptography==43.0.3
slowapi==0.1.9
psycopg2-binary>=2.9.9
PyMySQL==1.2.0
snowflake-sqlalchemy==1.10.0
tzdata
